In [1]:
# libraries for Web Scrapping
import requests
from bs4 import BeautifulSoup

# library for advance string manipulation
import string

# library for data manipulation
import pandas as pd

# library for advance mathematical operations
import numpy as np

# Total Cases

In [2]:
def TotalCases():
    page = requests.get("https://www.worldometers.info/coronavirus/")
    soup = BeautifulSoup(page.content, 'html.parser')
    
    all_cases = soup.find(class_="content-inner")
    
    main_total_count = all_cases.find_all(class_="maincounter-number")
    total_cases = main_total_count[0].get_text().replace('\n','').strip()
    total_deaths = main_total_count[1].get_text().replace('\n','').strip()
    total_recovered = main_total_count[2].get_text().replace('\n','').strip()
    
    total_cases_dict = {'Total Cases':total_cases,
                       'Total Deaths':total_deaths,
                       'Total Recovered':total_recovered}
    
    return(total_cases_dict)

TotalCases()

{'Total Cases': '3,507,442',
 'Total Deaths': '245,241',
 'Total Recovered': '1,130,122'}

# Active Cases

In [3]:
def ActiveCases():
    page = requests.get("https://www.worldometers.info/coronavirus/")
    soup = BeautifulSoup(page.content, 'html.parser')

    all_cases = soup.find(class_="content-inner")

    currently_infected_people = all_cases.find_all(class_="number-table-main")
    CIP = currently_infected_people[0].get_text()

    currently_infected_people_condition = all_cases.find_all(class_="number-table")
    CIPC_Mild = currently_infected_people_condition[0].get_text()
    CIPC_Severe = currently_infected_people_condition[1].get_text()

    active_cases_dict = {'Currently Infected People': CIP,
                        'Currently Infected People Condition (Mild)': CIPC_Mild,
                        'Currently Infected People Condition (Severe)': CIPC_Severe}
    
    return (active_cases_dict)

ActiveCases()

{'Currently Infected People': '2,132,079',
 'Currently Infected People Condition (Mild)': '2,081,472',
 'Currently Infected People Condition (Severe)': '50,607'}

# Scrape Table

In [4]:
# importing the datetime library to obtain the current date and time
from datetime import datetime

# function that returns the date and the time
def get_time_of_parsing():
    # datetime object containing current date and time
    now = datetime.now()
    
    # mm-dd-YY H-M-S
    date_string = now.strftime("%b-%d-%Y %H-%M-%S")
    return(date_string)

In [5]:
# running the get_time_of_parsing function to get the date and time at the time of accessing the webpage details
date_string = get_time_of_parsing()

page = requests.get("https://www.worldometers.info/coronavirus/")

# parsing the page using html parser. There are other parsers like lxml
soup = BeautifulSoup(page.content, 'html.parser')

In [6]:
table_wrapper = soup.find(class_='main_table_countries_div')
table = table_wrapper.find_all('table', class_="table table-bordered table-hover main_table_countries")

In [7]:
stat_table = table[0]

In [8]:
# creating an empty list to contain columns
columns = []

# the column names are persent inside the 'th' tag
for cols in stat_table.find_all('th'):
    # cleaning the text of the column names by replacing the unwanted characters by ''
    columns.append(cols.text.replace('\n', '').replace('\xa0', ''))

# cleaning the name of the first column 'Country, others'. Considering only the word 'Country' as the column name
columns[0] = columns[0].split(',')[0]
columns

['Country',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'ActiveCases',
 'Serious,Critical',
 'TotCases/1M pop',
 'Deaths/1M pop',
 'TotalTests',
 'Tests/1M pop',
 'Continent']

In [9]:
for row in stat_table.find_all('tr'):
    for cell in row.find_all('td'):
        print(cell.text)

North America

1,261,826
+3,224
73,924
+144
215,489
972,413
17,719




North America

Europe

1,438,691
+14,327
139,713
+303
535,829
763,149
17,472




Europe

Asia

553,336
+7,526
19,451
+112
287,048
246,837
5,389




Asia

South America

200,569
+819
10,259
+16
69,068
121,242
9,862




South America

Oceania

8,390
+22
115
+2
7,165
1,110
31




Australia/Oceania

Africa

43,909
+175
1,764
+1
14,878
27,267
130




Africa



721

15

645
61
4





World
3,507,442
+26,093
245,241
+578
1,130,122
2,132,079
50,607
450
31.5


All
USA
1,162,049
+1,275
67,492
+48
173,910
920,647
16,475
3,511
204
6,937,747
20,960
North America
Spain
245,567

25,100

146,233
74,234
2,386
5,252
537
1,528,833
32,699
Europe
Italy
209,328

28,710

79,914
100,704
1,539
3,462
475
2,108,837
34,879
Europe
UK
182,260

28,131

N/A
153,785
1,559
2,685
414
1,129,907
16,644
Europe
France
168,396

24,760

50,562
93,074
3,827
2,580
379
1,100,228
16,856
Europe
Germany
165,016
+49
6,812

130,600
27,604
2,105
1,970
81
2,547,052
30,400
Europe
Russia
134,687
+10,633
1,280
+58
16,639
116,768
2,300
923
9
4,100,000
28,095
Europe
Turkey
124,375

3,336

58,259
62,780
1,445
1,475
40
1,111,366
13,177
Asia
Iran
97,424
+976
6,203
+47
78,422
12,799
2,690
1,160
74
496,273
5,909
Asia
Brazil
97,100
+541
6,761
+11
40,937
49,402
8,318
457
32
339,552
1,597
South America
Canada
56,714

3,566

23,801
29,347
557
1,503
94
832,222
22,050
North America
Belgium
49,906
+389
7,844
+79
12,309
29,753
674
4,306
677
266,752
23,016
Europe
Peru
42,534

1,200

12,434
28,900
671
1,290
36
355,604
10,785
South America
Netherlands
40,571
+335
5,056
+69
N/A
35,265
708
2,368
295
225,899
13,184
Europe
India
40,263
+564
1,323

10,886
28,054

29
1.0
1,046,450
758
Asia
Switzerland
29,905
+88
1,762

24,200
3,943
141
3,455
204
280,220
32,378
Europe
Ecuador
27,464

1,371

2,132
23,961
149
1,557
78
73,929
4,190
South America
Saudi Arabia
27,011
+1,552
184
+8
4,134
22,693
139
776
5
352,555
10,127
Asia
Portugal
25,190

1,023

1,671
22,496
150
2,470
100
426,836
41,860
Europe
Sweden
22,317
+235
2,679
+10
1,005
18,633
403
2,210
265
119,500
11,833
Europe
Mexico
22,088
+1,349
2,061
+89
13,447
6,580
378
171
16
91,188
707
North America
Ireland
21,176

1,286

13,386
6,504
99
4,289
260
169,377
34,302
Europe
Pakistan
19,103
+81
440
+3
4,817
13,846
111
86
2
203,025
919
Asia
Chile
18,435

247

9,572
8,616
425
964
13
199,400
10,431
South America
Singapore
18,205
+657
17

1,347
16,841
24
3,112
3
143,919
24,600
Asia
Belarus
16,705
+877
99
+2
3,196
13,410
92
1,768
10
204,239
21,614
Europe
Israel
16,193
+8
230
+1
9,634
6,329
103
1,871
27
397,046
45,872
Asia
Austria
15,597
+39
598
+2
13,228
1,771
114
1,732
66
274,355
30,462
Europe
Qatar
15,551
+679
12

1,664
13,875
72
5,398
4
104,435
36,249
Asia
Japan
14,571

474

3,205
10,892
324
115
4
181,527
1,435
Asia
UAE
14,163
+564
126
+7
2,763
11,274
1
1,432
13
1,200,000
121,330
Asia
Poland
13,693
+318
678
+14
3,945
9,070
160
362
18
375,948
9,933
Europe
Romania
13,163
+431
790
+19
4,869
7,504
255
684
41
195,508
10,163
Europe
Ukraine
11,913
+502
288
+9
1,548
10,077
158
272
7
129,723
2,966
Europe
Indonesia
11,192
+349
845
+14
1,876
8,471

41
3
112,965
413
Asia
S. Korea
10,793
+13
250

9,183
1,360
55
211
5
630,973
12,307
Asia
Denmark
9,523
+116
484
+9
6,987
2,052
62
1,644
84
233,799
40,364
Europe
Serbia
9,464
+102
193
+4
1,551
7,720
54
1,083
22
101,911
11,664
Europe
Bangladesh
9,455
+665
177
+2
177
9,101
1
57
1
81,434
494
Asia
Philippines
9,223
+295
607
+4
1,214
7,402
31
84
6
120,736
1,102
Asia
Norway
7,809

211

32
7,566
37
1,440
39
172,586
31,835
Europe
Czechia
7,755

245

3,471
4,039
62
724
23
257,678
24,062
Europe
Dominican Republic
7,578

326

1,481
5,771
144
699
30
30,102
2,775
North America
Colombia
7,285

324

1,666
5,295
118
143
6
114,602
2,252
South America
Panama
7,090
+370
197
+5
641
6,252
85
1,643
46
31,895
7,392
North America
Australia
6,801
+20
95
+2
5,817
889
29
267
4
633,107
24,828
Australia/Oceania
South Africa
6,336

123

2,549
3,664
36
107
2
230,686
3,890
Africa
Malaysia
6,298
+122
105
+2
4,413
1,780
27
195
3
195,833
6,051
Asia
Egypt
6,193

415

1,522
4,256

61
4
90,000
879
Africa
Finland
5,254
+78
230
+10
3,000
2,024
49
948
42
102,300
18,463
Europe
Kuwait
4,983
+364
38
+5
1,776
3,169
72
1,167
9
179,000
41,915
Asia
Morocco
4,880
+151
174
+1
1,424
3,282
1
132
5
40,961
1,110
Africa
Argentina
4,681

237

1,320
3,124
157
104
5
63,866
1,413
South America
Algeria
4,295

459

1,872
1,964
22
98
10
6,500
148
Africa
Moldova
4,052

124

1,334
2,594
237
1,004
31
11,763
2,916
Europe
Kazakhstan
3,877
+20
25

995
2,857
40
206
1
282,862
15,065
Asia
Luxembourg
3,812

92

3,318
402
23
6,090
147
47,460
75,817
Europe
Bahrain
3,356
+72
8

1,717
1,631
1
1,972
5
143,030
84,057
Asia
Hungary
2,998
+56
340
+5
629
2,029
51
310
35
82,010
8,489
Europe
Thailand
2,969
+3
54

2,739
176
61
43
0.8
178,083
2,551
Asia
Afghanistan
2,704
+235
85
+13
345
2,274
7
69
2
11,068
284
Asia
Greece
2,620

143

1,374
1,103
37
251
14
78,207
7,503
Europe
Oman
2,568
+85
12

750
1,806
17
503
2
40,459
7,923
Asia
Nigeria
2,388

85

385
1,918
2
12
0.4
16,588
80
Africa
Armenia
2,386
+113
35
+2
1,035
1,316
10
805
12
24,177
8,159
Asia
Iraq
2,219

95

1,473
651

55
2
98,253
2,443
Asia
Ghana
2,169

18

229
1,922
4
70
0.6
117,049
3,767
Africa
Uzbekistan
2,136
+18
10
+1
1,308
818
8
64
0.3
242,536
7,247
Asia
Croatia
2,096
+8
79
+2
1,489
528
15
511
19
38,084
9,277
Europe
Cameroon
2,077

64

953
1,060
12
78
2


Africa
Azerbaijan
1,932
+38
25

1,441
466
17
191
2
157,932
15,576
Asia
Bosnia and Herzegovina
1,857
+18
77
+5
825
955
4
566
23
33,928
10,341
Europe
Iceland
1,798

10

1,706
82

5,269
29
50,002
146,529
Europe
Estonia
1,700
+1
55
+2
259
1,386
7
1,282
41
55,206
41,617
Europe
Bulgaria
1,611
+17
72

308
1,231
40
232
10
47,636
6,856
Europe
Cuba
1,611

66

765
780
10
142
6
51,506
4,547
North America
Guinea
1,586

7

405
1,174

121
0.5


Africa
North Macedonia
1,511
+5
84
+2
945
482
21
725
40
17,246
8,278
Europe
New Zealand
1,487
+2
20

1,266
201

308
4
150,223
31,152
Australia/Oceania
Bolivia
1,470
+241
71
+5
159
1,240
3
126
6
7,651
655
South America
Slovenia
1,439

96
+2
241
1,102
21
692
46
55,520
26,706
Europe
Lithuania
1,410
+4
46

635
729
17
518
17
141,678
52,044
Europe
Slovakia
1,408
+1
24

619
765
7
258
4
96,220
17,624
Europe
Ivory Coast
1,362

15

622
725

52
0.6
10,508
398
Africa
Senegal
1,115

9

368
738
4
67
0.5
466
28
Africa
Djibouti
1,112

2

686
424

1,126
2
13,856
14,024
Africa
Hong Kong
1,040

4

879
157
3
139
0.5
154,989
20,674
Asia
Honduras
1,010
+111
76
+1
116
818
10
102
8
4,669
471
North America
Tunisia
1,009

42

323
644
25
85
4
24,055
2,035
Africa
Latvia
879
+8
16

348
515
4
466
8
64,245
34,061
Europe
Cyprus
864

15

296
553
15
716
12
62,267
51,573
Asia
Albania
795
+6
31

531
233
7
276
11
8,866
3,081
Europe
Kyrgyzstan
795
+26
10
+2
564
221
12
122
2
51,472
7,889
Asia
Andorra
747

44

472
231
17
9,668
569
1,673
21,653
Europe
Lebanon
737
+4
25

200
512
43
108
4
39,238
5,749
Asia
Niger
736

35

507
194

30
1
5,271
218
Africa
Costa Rica
733

6

372
355
6
144
1
13,632
2,676
North America
Diamond Princess
712

13

645
54
4





Sri Lanka
705
+3
7

182
516
1
33
0.3
25,206
1,177
Asia
Guatemala
688
+44
17
+1
72
599
5
38
0.9
7,200
402
North America
DRC
674

33

75
566

8
0.4


Africa
Somalia
671

31

34
606
2
42
2


Africa
Burkina Faso
652

44

535
73

31
2


Africa
Uruguay
652

17

440
195
10
188
5
21,164
6,093
South America
Sudan
592

41

52
499

14
0.9


Africa
Georgia
589
+7
9
+1
221
359
6
148
2
15,904
3,987
Asia
San Marino
582
+2
41

86
455
5
17,152
1,208
2,451
72,235
Europe
Mali
544

26

206
312

27
1
2,172
107
Africa
Channel Islands
543

41

406
96

3,123
236
5,342
30,725
Europe
Mayotte
539

4

235
300
4
1,976
15
3,000
10,996
Africa
Maldives
519

1

18
500
2
960
2
8,008
14,815
Asia
El Salvador
490
+44
11

154
325
3
76
2
28,596
4,409
North America
Tanzania
480

16

167
297
7
8
0.3


Africa
Malta
477
+9
4

392
81
1
1,080
9
36,204
81,994
Europe
Jamaica
463
+31
8

33
422
2
156
3
5,215
1,761
North America
Jordan
460

9

367
84
5
45
0.9
82,092
8,046
Asia
Kenya
435

22

152
261
2
8
0.4
21,702
404
Africa
Taiwan
432

6

332
94

18
0.3
64,094
2,691
Asia
Réunion
423



300
123
2
472



Africa
Paraguay
370
+37
10

119
241
5
52
1
10,766
1,509
South America
Palestine
353

2

76
275

69
0.4
32,200
6,312
Asia
Venezuela
345

10

148
187
2
12
0.4
477,790
16,802
South America
Gabon
335

5

85
245
1
151
2
724
325
Africa
Mauritius
332

10

315
7
3
261
8
16,028
12,603
Africa
Montenegro
322

8

249
65
2
513
13
6,864
10,929
Europe
Isle of Man
320

22

271
27
21
3,763
259
3,242
38,126
Europe
Equatorial Guinea
315

1

9
305

225
0.7
854
609
Africa
Vietnam
271
+1


219
52
8
3

261,004
2,681
Asia
Guinea-Bissau
257

1

19
237

131
0.5
1,500
762
Africa
Rwanda
255



120
135

20

33,303
2,571
Africa
Congo
229

9

25
195

41
2


Africa
Faeroe Islands
187



185
2

3,827

8,066
165,074
Europe
Martinique
179

14

83
82
5
477
37


North America
Sierra Leone
155

8

21
126

19
1


Africa
Liberia
154

18

48
88

30
4


Africa
Guadeloupe
152

12

95
45
6
380
30


North America
Cabo Verde
152

2

18
132

273
4
791
1,423
Africa
Myanmar
151

6

37
108

3
0.1
8,460
155
Asia
Madagascar
149
+14


98
51
1
5

3,611
130
Africa
Gibraltar
144



132
12

4,274

2,711
80,467
Europe
Brunei
138

1

128
9
2
315
2
14,262
32,600
Asia
Ethiopia
135
+2
3

75
57

1
0.03
22,330
194
Africa
French Guiana
128

1

98
29
2
429
3


South America
Togo
124
+1
9

67
48

15
1
7,425
897
Africa
Zambia
124
+5
3

78
43
1
7
0.2
6,882
374
Africa
Cambodia
122



120
2
1
7

12,304
736
Asia
Chad
117

10

39
68

7
0.6


Africa
Trinidad and Tobago
116

8

88
20

83
6
1,907
1,363
North America
Bermuda
114

7

51
56
4
1,831
112
2,819
45,265
North America
Eswatini
108

1

12
95

93
0.9
714
615
Africa
Aruba
100

2

81
17
4
937
19
1,731
16,213
North America
Monaco
95

4

78
13
1
2,421
102


Europe
Benin
90

2

42
46

7
0.2


Africa
Uganda
88



52
36

2

36,302
794
Africa
Haiti
85

8

10
67

7
0.7
848
74
North America
Bahamas
83

11

24
48
1
211
28
1,353
3,441
North America
Guyana
82

9

22
51
2
104
11
579
736
South America
Liechtenstein
82

1

55
26

2,151
26
900
23,605
Europe
Barbados
81

7

44
30
4
282
24

2,369
8,244
North America
Mozambique
79



18
61

3

2,337
75
Africa
Sint Maarten
76

13

44
19
7
1,773
303
329
7,673
North America
Tajikistan
76

2


74

8
0.2


Asia
Cayman Islands
74

1

10
63
3
1,126
15
1,927
29,320
North America
CAR
72



10
62

15



Africa
Nepal
69
+10


16
53

2

63,102
2,166
Asia
Libya
63

3

22
38

9
0.4
2,155
314
Africa
French Polynesia
58



51
7
1
206

2,634
9,377
Australia/Oceania
South Sudan
46
+1



46

4

1,247
111
Africa
Macao
45



39
6
1
69



Asia
Syria
44

3

27
14

3
0.2


Asia
Malawi
39
+1
3

9
27
1
2
0.2
892
47
Africa
Eritrea
39



26
13

11



Africa
Mongolia
39



10
29

12

8,250
2,517
Asia
Saint Martin
38

3

27
8
3
983
78


North America
Angola
35

2

11
22

1
0.06
481
15
Africa
Zimbabwe
34

4

5
25

2
0.3
7,642
514
Africa
Antigua and Barbuda
25

3

15
7
1
255
31
151
1,542
North America
Timor-Leste
24



16
8

18

322
244
Asia
Botswana
23

1

8
14

10
0.4
7,675
3,264
Africa
Grenada
21



13
8
4
187

1,406
12,495
North America
Laos
19



9
10

3

2,184
300
Asia
Belize
18

2

13
3
1
45
5
1,043
2,623
North America
Fiji
18



14
4

20

1,007
1,123
Australia/Oceania
New Caledonia
18



17
1
1
63

4,947
17,328
Australia/Oceania
Gambia
17

1

9
7

7
0.4
401
166
Africa
Saint Lucia
17



15
2

93

446
2,429
North America
Curaçao
16

1

13
2

98
6
351
2,139
North America
Sao Tome and Principe
16

1

4
11

73
5
19
87
Africa
Dominica
16



13
3

222

383
5,320
North America
Namibia
16



8
8

6

704
277
Africa
St. Vincent Grenadines
16



8
8

144

108
973
North America
Burundi
15

1

7
7

1
0.08
284
24
Africa
Saint Kitts and Nevis
15



8
7

282

294
5,526
North America
Nicaragua
14

3

7
4

2
0.5


North America
Falkland Islands
13



13
0

3,736

388
111,494
South America
Turks and Caicos
12

1

5
6

310
26
83
2,144
North America
Montserrat
11

1

7
3
1
2,204
200
36
7,212
North America
Greenland
11



11
0

194

1,289
22,706
North America
Vatican City
11



2
9

13,733



Europe
Seychelles
11



6
5

112



Africa
Yemen
10

2

1
7

0.3
0.07
120
4
Asia
Suriname
10

1

8
1

17
2
404
689
South America
MS Zaandam
9

2


7






Mauritania
8

1

6
1

2
0.2
1,032
222
Africa
Papua New Guinea
8




8

0.9

604
68
Australia/Oceania
Bhutan
7



5
2

9

10,761
13,946
Asia
British Virgin Islands
6

1

3
2

198
33


North America
Caribbean Netherlands
6




6

229

110
4,195
North America
St. Barth
6



6
0

607



North America
Western Sahara
6



5
1

10



Africa
Anguilla
3



3
0

200



North America
Comoros
3




3

3



Africa
Saint Pierre Miquelon
1




1

173



North America
China
82,877
+2
4,633

77,713
531
34
58
3


Asia
Total:
1,261,826
+3,224
73,924
+144
215,489
972,413
17,719




North America
Total:
1,438,691
+14,327
139,713
+303
535,829
763,149
17,472




Europe
Total:
553,336
+7,526
19,451
+112
287,048
246,837
5,389




Asia
Total:
200,569
+819
10,259
+16
69,068
121,242
9,862




South America
Total:
8,390
+22
115
+2
7,165
1,110
31




Australia/Oceania
Total:
43,909
+175
1,764
+1
14,878
27,267
130




Africa
Total:
721

15

645
61
4





Total:
3,507,442
+26,093
245,241
+578
1,130,122
2,132,079
50,607
450.0
31.5


All

# Writing the data to a text file 'covid.txt'

In [10]:
# opening the text file in writing mode
with open('covid.txt', 'w') as r:
    # iterating the list items for 'tr' tag. We are taking the rows from 9 because the rows from 0 to 8 are unnecessary
    for row in stat_table.find_all('tr')[9:]:
        # iterate the cell value of each row. The cell value is present inside the 'td' tag
        for cell in row.find_all('td'):
            # write the cell to the text file
            r.write(cell.text)
            # leave a tab after each cell
            r.write('\t')
        # go to the newline after writing a row
        r.write('\n')

In [11]:
# reading the covid.txt file as a dataframe
# header = None: will not consider the first row as the columns
# sep = '\t': parse the cells separated by a tab
# names=columns: assigns the column name
# # index_col=False: will not consider the first column as the row index
covid = pd.read_csv('covid.txt', 
                    encoding='latin-1', 
                    header=None, 
                    sep='\t', 
                    names=columns, 
                    index_col=False
                   )

In [12]:
covid.tail(10)

,Country,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",TotCases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Continent
212,Saint Pierre Miquelon,1,NaN,,NaN,NaN,1,NaN,173,NaN,NaN,NaN,North America
213,China,"82,877",+2,"4,633",NaN,"77,713",531,34,58,3,NaN,NaN,Asia
214,Total:,"1,261,826","+3,224","73,924",144.0,"215,489","972,413","17,719",NaN,NaN,NaN,NaN,North America
215,Total:,"1,438,691","+14,327","139,713",303.0,"535,829","763,149","17,472",NaN,NaN,NaN,NaN,Europe
216,Total:,"553,336","+7,526","19,451",112.0,"287,048","246,837","5,389",NaN,NaN,NaN,NaN,Asia
217,Total:,"200,569",+819,"10,259",16.0,"69,068","121,242","9,862",NaN,NaN,NaN,NaN,South America
218,Total:,"8,390",+22,115,2.0,"7,165","1,110",31,NaN,NaN,NaN,NaN,Australia/Oceania
219,Total:,"43,909",+175,"1,764",1.0,"14,878","27,267",130,NaN,NaN,NaN,NaN,Africa
220,Total:,721,NaN,15,NaN,645,61,4,NaN,NaN,NaN,NaN,NaN
221,Total:,"3,507,442","+26,093","245,241",578.0,"1,130,122","2,132,079","50,607",450.0,31.5,NaN,NaN,All

In [13]:
# creating a separate dataset that contains the details of total corona cases for each continent
covid_cases_per_continent = covid[214:220].iloc[:, [1,2,3,4,5,6,7,12]]
covid_cases_per_continent

,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Continent
214,"1,261,826","+3,224","73,924",144.0,"215,489","972,413","17,719",North America
215,"1,438,691","+14,327","139,713",303.0,"535,829","763,149","17,472",Europe
216,"553,336","+7,526","19,451",112.0,"287,048","246,837","5,389",Asia
217,"200,569",+819,"10,259",16.0,"69,068","121,242","9,862",South America
218,"8,390",+22,115,2.0,"7,165","1,110",31,Australia/Oceania
219,"43,909",+175,"1,764",1.0,"14,878","27,267",130,Africa

### Writing the dataframe 'covid_cases_per_continent' to a csv file with the timestamp

In [14]:
# index=False ignores the index column
covid_cases_per_continent.to_csv('covid_per_continent {}.csv'.format(date_string), index=False)

In [15]:
# replacing the null values with 0
covid.replace(np.nan, 0, inplace = True)
covid

,Country,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",TotCases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Continent
0,USA,"1,162,049","+1,275","67,492",48.0,"173,910","920,647","16,475","3,511",204,"6,937,747","20,960",North America
1,Spain,"245,567",0,"25,100",0.0,"146,233","74,234","2,386","5,252",537,"1,528,833","32,699",Europe
2,Italy,"209,328",0,"28,710",0.0,"79,914","100,704","1,539","3,462",475,"2,108,837","34,879",Europe
3,UK,"182,260",0,"28,131",0.0,0,"153,785","1,559","2,685",414,"1,129,907","16,644",Europe
4,France,"168,396",0,"24,760",0.0,"50,562","93,074","3,827","2,580",379,"1,100,228","16,856",Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,Total:,"200,569",+819,"10,259",16.0,"69,068","121,242","9,862",0,0,0,0,South America
218,Total:,"8,390",+22,115,2.0,"7,165","1,110",31,0,0,0,0,Australia/Oceania
219,Total:,"43,909",+175,"1,764",1.0,"14,878","27,267",130,0,0,0,0,Africa
220,Total:,721,0,15,0.0,645,61,4,0,0,0,0,0
221,Total:,"3,507,442","+26,093","245,241",578.0,"1,130,122","2,132,079","50,607",450.0,31.5,0,0,All

In [16]:
# ignoring the last rows that contains the details of total corona cases for each continent
# this will contain the details of total corona cases for each country 
covid = covid[0:214]
covid

,Country,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",TotCases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Continent
0,USA,"1,162,049","+1,275","67,492",48.0,"173,910","920,647","16,475","3,511",204,"6,937,747","20,960",North America
1,Spain,"245,567",0,"25,100",0.0,"146,233","74,234","2,386","5,252",537,"1,528,833","32,699",Europe
2,Italy,"209,328",0,"28,710",0.0,"79,914","100,704","1,539","3,462",475,"2,108,837","34,879",Europe
3,UK,"182,260",0,"28,131",0.0,0,"153,785","1,559","2,685",414,"1,129,907","16,644",Europe
4,France,"168,396",0,"24,760",0.0,"50,562","93,074","3,827","2,580",379,"1,100,228","16,856",Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,Western Sahara,6,0,,0.0,5,1,0,10,0,0,0,Africa
210,Anguilla,3,0,,0.0,3,0,0,200,0,0,0,North America
211,Comoros,3,0,,0.0,0,3,0,3,0,0,0,Africa
212,Saint Pierre Miquelon,1,0,,0.0,0,1,0,173,0,0,0,North America
213,China,"82,877",+2,"4,633",0.0,"77,713",531,34,58,3,0,0,Asia

# Writing the dataframe to a csv file with the timestamp

In [17]:
# index=False ignores the index column
covid.to_csv('covid {}.csv'.format(date_string), index=False)